{# HOME HTML #}

{% extends "base.html" %}

{% block content %}
<div class="top-picture position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" 
  style="background-image:url({{ url_for('static', filename='rocket-launch-bg.jpg') }});background-size: cover;
  background-position: center 100%;">
    <!-- <img src="resources/img/hero.jpg" class="img-fluid" alt="Responsive image"> -->
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal text-light" style="text-shadow: 2px 2px 20px black;">Are the Rocket Launches Green? </h1>
      <p class="lead font-weight-normal text-light" style="text-shadow: 2px 2px 20px black;">Learn about the enviornmental impacts of the rocket launches</p>
      <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% if launches %}
        {% for launch in launches %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ url_for('static', filename='soyuz.jpg') }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ launch['name'] }}</h5>
                <p class="card-text">{{ launch['launchStart'] }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ launch['location'] }}</li>
                <li class="list-group-item">{{ launch['lspname'] }} </li>
                <li class="list-group-item">{{ launch['mission'] }}</li>
              </ul>
              <div class="card-body">
                <a href="launch/{{ launch['launchid'] }}" class="btn btn-primary">More details</a>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
          No results.
        {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}