.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active> a:focus, .navbar-inverse .navbar-nav>.active a:hover {
    background-color: black;
  }

  .navbar-inverse {
    background-color:black;
  }
      .navbar {
          margin-bottom: 0;
          border-radius: 0;
          background-color: #black;
          color: #fff;
          padding: 1% 0;
          font-size:1.2em;
          border:0;
      }
      .navbar-brand {
          float: left;
          min-height: 55px;
          padding: 0 15px 5px;
      }
      
      .navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus,
      .navbar-inverse .navbar-nav .active a:hover {
        color: #fff;
        background-color:black ;
      }
      .navbar-inverse .navbar-nav li a {
          color: #D5D5D5;
      }
      
      .carousel-caption {
          top: 50%;
          transform: translateY(-50%);
          text-transform: uppercase;
      }
      
      .btn {
          font-size: 18px;
          color: #fff;
          padding: 12px 22px;
          background: black;
          border: 2px solid #fff;
      }
      
      .container |
      #icon {
          font-size: 200px;
          margin: 1% auto;
      }
      .container {
          margin: 4% auto;
      }
       #icon {
              max-width: 200px;
              margin: 1% auto;
            }
      footer {
          width: 100%;
          background-color: black;
          padding: 3%;
          color: #fff;
      }
      .fa {
          padding: 20px;
          font-size: 30px;
          color: #fff;
        }
      .fa:hover {
          color: #D5D5D5;
          text-decoration: none;
      }
      
      @media (max-width: 900px) {
          .fa {
            font-size: 25px;
            padding: 10px;
      }
      }
      @media (max-width: 600px) {
          .carousel-caption {
            display: none; 
      }
          #icon {
             max-width: 150px; 
          }
          
          h2 {
              font-size: 1.7em;
          }
      }

      