{# ABOUT HTML #}

{% extends "base.html" %}

{% block content %}

<p>
	Our website focuses on delivering databases that help
researchers, enthusiasts, and individuals who want to
create a safer and green environment. We gather data
about pollution, weather condition, rockets' schedules and locations, and the negative impact the rockets' launches have on our environment. 
We hope that this would help our targeted users further their
researches on ways we can reduce the negative impact our rockets'
launches have on our environment.
<!-- This code is for rocket image renderign -->
<!-- <h1> This is the puppy page for: {{name}}</h1> -->
<!-- <a href="{{ url_for('static',filename='dog.jpg')}}">Here</a> -->
</p>
{% endblock %}