{# ROCKET HTML #}

{% extends "base.html" %}

{% block content %}
<p>
	How does a rocket in space work?
Rocket engine exhaust is formed entirely from propellant carried within the rocket before use. Rocket engines work by action and reaction and push rockets forward simply by expelling their exhaust in the opposite direction at high speed, and can therefore work in the vacuum of space.
<!-- This code is for rocket image renderign -->
<!-- <h1> This is the puppy page for: {{name}}</h1> -->
<!-- <a href="{{ url_for('static',filename='dog.jpg')}}">Here</a> -->

</p>
{% endblock %}